.main{
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  background: white;

  .content{
    display: flex;
    max-width: 960px;
  }
  .sidebar{
    margin-left: auto;
    display: flex;
    width: 250px;
    background: gray;
  }
}
