@import 'fonts';
@import 'clearfix';


html, body {
  background: white;
//  background: url(../images/bg-1.png);
  // min-height: 100% !important;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
}
ul{
  padding: 0;
  margin: 0;
}
@import 'blocks/post';

@import 'includes/header';
@import 'includes/footer';
@import 'includes/ui';


@import 'pages/index';

@media all and (max-width: 767px) {
  @import 'phone';
}
