extends templates/layout

block vars


block content
  .main
    .content
      include blocks/post
      include blocks/post
      include blocks/post
      include blocks/post
      include blocks/post
    .sidebar
      include blocks/navigation

block scripts