extends templates/layout

block vars


block content
  .main
    .content
      div
        include blocks/post
        include blocks/post
        include blocks/post
        include blocks/post
        include blocks/post
      
    .sidebar
      div
        include blocks/navigation
    .clearfix  

block scripts
