span navigation is here. lol.
ul.navigation-list
  li.navigation-list__item
    a(href="/") Главная
  li.navigation-list__item
    a(href="/") Самый Главный Пункт
  li.navigation-list__item
    a(href="/") Разные няшности    
  li.navigation-list__item
    a(href="/") Обо мне 
  li.navigation-list__item
    a(href="/") Контакты
  li.navigation-list__item
    a(href="/") Добавить пост 
  li.navigation-list__item
    a(href="/") Админка 

ul.category-list
  li.category-list__item
    a(href="/") Веб разработка
  li.category-list__item
    a(href="/") Ништяки
  li.category-list__item
    a(href="/") Флуд  
  li.category-list__item
    a(href="/") ХЗ

a(href="/") Ссылка на гит например 
