ul.category-list
  li.category-list__item
    a(href="/") Веб разработка
  li.category-list__item
    a(href="/") Ништяки
  li.category-list__item
    a(href="/") Няшки
  li.category-list__item
    a(href="/") Флуд  
  li.category-list__item
    a(href="/") ХЗ

a(href="/") Ссылка на гит например 
a(href="/") Админка
a(href="/") Добавить псто