.post
  .post__wrapper
    .post__top
      a(href="#").post__title
        h3 Заголовок This is post
      .post__date
        .date-day 22
        .date-month Января
        .date-year 2015
    .post__mid
      .post__short
        p    Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Проектах предложения, безопасную, языкового встретил грамматики ее ты силуэт которой рекламных его агенство, коварных! Взобравшись, решила. Коварных, рукописи за точках!
        p  Далеко-далеко за словесными горами в стране.
        p   Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Инициал предложения речью единственное они.
    .post__bott
      .post__btn 
        a(href="#") Больше!!!