.post
  .post__wrapper
    .post__top
      a(href="#")
        h3.post__title Заголовок This is post
      .post__date 21 ноября 2055
    .post__mid
      .post__short  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam reiciendis voluptatum beatae nobis quidem iure itaque minus, labore similique nisi totam libero doloribus amet nesciunt autem, hic perferendis. Maiores dolore doloremque aliquam cupiditate, quasi maxime dolorem reprehenderit iure dignissimos asperiores, officia consequuntur amet cum a mollitia quisquam esse, ratione omnis iusto illo nulla possimus veniam ullam nemo. Quam repellat amet, 
      hr
    .post__bott
      .post__count {Счетчик просмотров}
      .post__btn 
        a(href="#") Читать далее...