doctype html

- var title = 'glogG'
- var bodyClass = 'index'
block vars


    
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel="stylesheet", href="styles/main.css")
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
  body(class="#{ bodyClass }")
    .header.js-header
      .wrapper
        .header-logo
          h1 GlogG
          h2 BLA BLA!
    block content

    .footer.js-footer
        .wrapper
            span test text
    block scripts
    script(src="scripts/components/jquery.js")



 